# Virtual environments
myenv/
venv/
.venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter files
.ipynb_checkpoints/

# MLflow
mlruns/
mlartifacts/

# Evidently
.evidently/

# OS/editor files
.DS_Store
Thumbs.db
.vscode/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Secrets
.env
.env.*
!.env.example

#mlflow db
mlflow.db